
.hero-content-div{
    width: 40%;
    height: 70%;
    background-color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    justify-content: left;
    position: absolute;
    top: 160px;
    left: 100px;
}
.hero-content-div>span{
    font-size: 4rem;
    font-family: var(--font-family-monospace);
    font-weight: 700;
    color: var(--indigo);
}
.hero-content-div>.tag{
    font-size: 3rem;
    color: var(--yellow);
    margin-bottom: 10px;
   
}
.hero-section{
    width:100vw;
    height:100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../assets/images/heo-bg.webp);
}