.section-5{

    width: 90vw;
    height: 100vh;
    /* background-color: aqua; */
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
}

.section-5>.heading{
    font-size: 3rem;
    text-align: center;
    font-weight: 800;
    color: var(--indigo);


}
.section-5>p{
    text-align: center;
    font-size: 1.5rem;
    padding: 0 3rem;
}

.section-5-container{
    display: flex;
    align-items:center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
}